* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Indie+Flower&family=Roboto+Condensed&display=swap");
html {
  font-family: "Indie Flower", cursive;
  font-family: "Mulish", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 62.5%;
  font-weight: 500;
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
  display: flex;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mt-2 {
  margin-top: 2rem;
}

.boder {
  border-radius: 10px;
  overflow: hidden;
}

.container {
  width: 90%;
  margin: auto;
}

nav {
  display: flex;
  justify-content: center;
  background: #363c42;
  color: white;
  font-size: 1.6rem;
}
.nav-container {
  width: 90%;
  min-height: 86px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav-right {
  display: flex;
  align-items: center;
  min-width: 50%;
  max-width: 80%;
  span {
    font-family: "Dancing Script", cursive;
    font-family: "Indie Flower", cursive;
    font-family: "Roboto Condensed", sans-serif;
    display: block;
    font-size: 5rem;
    font-weight: bold;
    height: 100%;
  }
  ul {
    height: 100%;
    margin: 0;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 100%;
      margin-left: 2.5rem;
      width: 10rem;
      a {
        color: white;
        text-decoration: none;
      }
      &:hover {
        background-color: #2c3136;
      }
    }
  }
}

.nav-left {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  i {
    font-size: 2rem;
  }
  ul {
    margin: 0;
    justify-content: space-between;
    height: 100%;
    li {
      display: flex;
      align-items: center;
      min-width: 3rem;
      padding: 0 2rem;

      &:last-child {
        margin-left: 2rem;
      }
      &:hover {
        background: #2c3136;
      }
    }
  }
}

.search-box {
  align-items: center;
  flex: 1;
  display: flex;
  height: 42px;
  width: 60%;
  border: 2px solid #41484f;
  border-radius: 20px;
  margin-right: 20px;
  i {
    margin-left: 2rem;
    font-size: 1.5rem;
  }
  input {
    width: 100%;
    margin-right: 1rem;
    background-color: transparent;
    border: none;
    padding-left: 10px;
    outline: none;
  }
  &:focus-within {
    border: 2px solid rgb(48, 114, 168);
  }
}
.user-container {
  position: relative;
  display: flex;
  align-items: center;
  img {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    margin-right: 2rem;
  }
  i {
    font-size: 1.2rem;
    margin-left: 3rem;
  }
}
body {
  background: #f1f2f4;
}

@media screen and (max-width: 992px) {
  .search-box {
    align-items: center;
    border: none;
    width: auto;
    i {
      margin-left: 2rem;
      font-size: 2rem;
    }
    input {
      display: none;
    }
    &:focus-within {
      border: 2px solid rgb(48, 114, 168);
    }
  }

  .user-container {
    display: flex;
    align-items: center;
    img {
      display: none;
    }
  }
}

.container {
  padding: 5.6rem 1.4rem;
}

.post-left-header {
}

.user-background {
  overflow: hidden;
  width: 100%;
  height: 100px;
}

.header-userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  .user-avatar {
    width: 80%;
    position: absolute;
    bottom: -50%;
    display: flex;
    align-items: flex-end;
    img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      border: 0.8rem solid white;
    }
    span {
      display: inline-block;
      margin-left: 15px;
      font-weight: 600;
      font-size: 1.8rem;
      padding-bottom: 10px;
    }
  }
}

.hashtag {
  background: white;
  margin-bottom: 20px;
}

.hashtag-header {
  padding: 21px 28px;
  font-size: 1.8rem;
  font-weight: 700;
}

.hashtag-list {
  padding: 21px 28px;
}

.hashtag-item {
  display: inline-block;
  border-radius: 50px;
  padding: 0.3rem 1rem;
  background-color: #e3e6e9;
  margin-right: 10px;
  margin-bottom: 10px;
  &:hover {
    a {
      color: white;
      text-decoration: none;
    }
    cursor: pointer;
    background: #2186c4;
    color: white;
  }
}
.breakline {
  padding: 0.1rem 0;
  background-color: #e3e6e9;
}

.post {
  padding: 28px;
  background: white;

  img {
    width: 100%;
    max-height: 250px;
  }

  // &:first-child {
  //   border-top-right-radius: 50px;
  //   border-top-left-radius: 50px;
  // }
}
.post-title {
  display: block;
  font-size: 2.2rem;
  font-weight: 700;
  color: #2186c4;
  padding: 1rem 0;
}
.post-detail {
  font-size: 1.2rem;
  margin-bottom: 14px;
  span {
    padding-right: 2rem;
    i {
      margin-right: 1rem;
    }
  }
}
.post-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  i {
    margin-right: 1rem;
  }
}

.userMenu {
  padding: 1rem;
  width: 100%;
  display: none;
  position: absolute;
  background: rebeccapurple;
  bottom: -100%;
  z-index: 10;
}

.menuShow {
  display: block;
}

.user-login {
  background-color: white;
  padding: 2.8rem;
  input {
    font-size: 1.5rem;
    width: 100%;
    padding: 0.8rem 2rem;
    margin-bottom: 2rem;
    border-radius: 50px;
    outline: none;
    border: 2px solid #e3e6e9;
    background: #f1f2f4;
    &:focus-within {
      border: 2px solid #2186c4;
      background: white;
    }
  }
}

.defaul-input {
  font-size: 1.5rem;
  width: 100%;
  padding: 0.8rem 2rem;
  margin-bottom: 2rem;
  border-radius: 50px;
  outline: none;
  border: 2px solid #e3e6e9;
  background: #f1f2f4;
  &:focus-within {
    border: 2px solid #2186c4;
    background: white;
  }
}

.btn {
  padding: 1rem 2.8rem;
  background: #f75411;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
  &:hover {
    background: #41484f;
  }
}

.user-login-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    a {
      margin-bottom: 0.5rem;
    }
  }
}

.mModal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  width: 28%;
  background-color: white;
  height: 215px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  i {
    font-size: 1.4rem;
    font-weight: 900;
  }
  .btn {
    align-self: flex-end;
    margin: 0 28px 21px 28px;
  }
}

.modalTitle {
  padding: 21px 28px;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eff0f2;
}
.modalContent {
  padding: 21px 28px;
}

.mShow {
  // visibility: visible;
}

.createPost {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  textarea {
    width: 100%;
    padding: 9px 21px;
    outline: none;
    border: none;
    resize: none;
    max-height: 12;
    border-radius: 5px;
  }
}

.p-title {
  width: 100%;
  padding: 9px 21px;
  outline: none;
  border: none;
  resize: none;
  max-height: 12;
  border-radius: 5px;
}

.createPost-footer {
  padding: 9px 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  i {
    font-size: 1.6rem;
    margin-right: 2rem;
  }
  .btn {
    font-size: 1.3rem;
    padding: 0.5rem 2rem;
  }
}

.p-add-img {
  width: 115px;
  height: 115px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
  i {
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 2rem;
    cursor: pointer;
  }
}

.p-list-img {
  display: flex;
}

.p-list-addmore {
  width: 115px;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    font-size: 4rem;
    font-weight: 900;
    color: #b0b0b9;
  }
  background: #f7f7f7;
}

.loader-backgron {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rebeccapurple;
}

.cpFooter-right {
  .btn {
    i {
      margin-left: 1rem;
    }
  }
}
.disable {
  cursor: none;
  background-color: #363c42;
}
.post-img-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}
.post-body {
  font-size: 1.8rem;
  margin-bottom: 14px;
}

.oderbackground {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.705), rgba(20, 20, 20, 0.658)),
    url("https://images.unsplash.com/photo-1449824913935-59a10b8d2000?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHw%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  color: white;
  position: relative;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   background: rgba(0, 0, 0, 0.705);
  // }
}

.order-container {
  max-width: 70%;
}

.food-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 220px));
  grid-template-rows: max(330px);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
.food-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
}

.food-name {
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
  padding: 1rem 1rem 0.5rem 1rem;
}
.food-address {
  font-size: 1.2rem;
  padding: 0 1rem 0.5rem 1rem;
  border-bottom: 1px solid #b0b0b9;
}

.food-discount {
  padding: 0.5rem 1.2rem;
  i {
    color: red;
    margin-right: 2rem;
  }
  span {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
    color: #187caa;
  }
}
.fd-container {
  background-color: white;
  display: flex;
  justify-content: center;
}

.fd-hero {
  color: black;
  margin: 2% 0;
  display: flex;
  width: 80%;
  .fd-hero-img {
    img {
      width: 100%;
      max-height: 300px;
      object-fit: cover;
    }
  }
  .fd-hero-detail {
    flex: 1;
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  span {
    display: block;
  }
}

.fd-name {
  font-weight: bold;
  font-size: 2.5rem;
}

.fd-address {
  padding: 0.5rem 0 0 0;
}

.fd-rating {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  i {
    color: #ffc107;
    margin-right: 0.2rem;
  }
  .rating-count {
    margin-left: 10px;
    font-size: 1.2rem;
    padding: 0.3rem 0.5rem;
    background-color: #ffc107;
    color: white;
    font-weight: 600;
    border-radius: 5px;
  }
}

.fd-view-review {
  padding: 0rem 0 1rem 0;
  color: #187caa;
  font-size: 1.6rem;
}

.fd-detail {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  .fd-active {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: green;
    margin-right: 5px;
  }
}
.fd-time-open {
  i {
    font-size: 1.6rem;
    margin-right: 10px;
  }
}
.fd-hero-detail-footer {
  padding-top: 20px;
  border-top: 1px solid #41484f;
  span {
    display: block;
  }
  .fd-detail_title {
    text-transform: uppercase;
    color: #6e7275;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.fd-m-container {
  display: flex;
  justify-content: center;
}

.fd-menu {
  width: 80%;
}

.fd-menu-title {
  color: rgb(136, 8, 8);
  text-transform: uppercase;
  font-weight: 600;
  padding: 1rem 0;
}
.fd-menu-left {
  width: 100%;
  background: white;
  padding: 1rem;
  ul {
    flex-direction: column;

    li {
      cursor: pointer;
      font-weight: 500;
      padding: 1rem;
      display: inline-block;
    }
  }
  .active {
    background-color: #6e7275;
    color: white;
  }
}

.db-menu-center {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  .input-container {
    width: 80%;
    border: 1px solid #ededed;
    padding: 0.5rem;
    font-size: 1.6rem;
    i {
      margin: 0.5rem;
    }
    input {
      width: 90%;
      height: 25px;
      background: transparent;
      border: none;
      outline: none;
    }
  }
}

.list-dish {
  width: 90%;
}
.list-dish-title {
  display: block;
  padding: 1rem;
  font-size: 1.6rem;
}

.dish-item {
  display: flex;
  padding: 1rem;
  img {
    width: 100%;
    max-height: 80px;
    object-fit: cover;
  }
}

.dish-item-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dish-item-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.dish-item-footer {
  font-size: 1.1rem;
  color: #6e7275;
  display: flex;
  align-content: space-between;
  span {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
  }
}

.di-footer-oder {
  margin-right: 1rem;
}
.dish-item-price {
  span {
    font-weight: 600;
    font-size: 1.8rem;
    color: #2186c4;
  }
  i {
    cursor: pointer;
    margin-left: 1rem;
    font-size: 2rem;
    color: #a30a0f;
  }
}

.current {
}

.fd-menu-right {
  background: white;
}

.fd-right-header {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #363c42;
  align-items: center;
  color: black;
  .fd-right-user {
    flex: 1;

    img {
      width: 50px;
      border-radius: 50%;
      margin-right: 2rem;
    }
    span {
      font-weight: bold;
      font-size: 1.6rem;
    }
  }
}

.fd-total {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  div {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
  }
  span {
    font-weight: bold;
    color: #2186c4;
    font-size: 1.8rem;
  }
}

.fd-order-now {
  padding: 1rem;
  color: white;
  font-weight: 500;
  background: #a30a0f;
  text-align: center;
  cursor: pointer;
  i {
    font-size: 1.4rem;
    margin-right: 1rem;
  }
  &:hover {
    background: #750408;
  }
}

.oder-item-header {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 1rem;
  img {
    height: 50px;
  }
}

.order-item-btn {
  display: block;
  color: black;
  display: flex;
  align-items: center;
  span {
    padding: 0 0.5rem;
  }
  i {
    padding: 0 0.5rem;
    font-size: 1.6rem;
  }
}

.oder-item-name {
  margin-left: 2rem;
  color: #2c3136;
}

.oder-item-bottom {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #6e7275;
  font-size: 1.2rem;

  input {
    max-width: 60%;
    border: none;
    outline: none;
  }
}

.r-login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  form {
    border-radius: 20px;
    background: white;
    padding: 6rem 4rem;
  }
  h1 {
    margin-bottom: 2rem;
  }
  .link {
    display: block;
    color: #2186c4;
    cursor: pointer;
    padding: 1rem;
    float: right;
  }
}

.show-container {
  width: 100%;
  justify-content: center;
  background-color: white;
}

.rcontainer {
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  .rs-btn {
    background: transparent;
  }
}

.rheader-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.rheader-left {
  flex: 1;
  max-width: 50%;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    li {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 1rem;

      span {
        cursor: pointer;
        margin-left: 2rem;
        display: block;
        height: 100%;
      }
      &.active {
        border-bottom: 0.2rem solid #2186c4;
      }
    }
  }
}

.mt-3 {
  margin-top: 3rem;
}
.r-bodyContainer {
  flex-direction: column;
  align-items: center;
}

.r-bodyBoder {
  border-radius: 20px;
  border: 1px solid black;
}

.r-menuLeft {
  ul {
    flex-direction: column;
    min-height: 50vh;
    position: relative;

    li {
      cursor: pointer;
      display: block;
      padding: 1rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      span {
        i {
          margin-right: 2rem;
        }
      }
      &:hover {
        font-size: 1.6rem;
        font-weight: bold;
        i {
          font-size: 1.8rem;
          font-weight: bold;
          color: #a30a0f;
        }
      }
      &:first-child {
        font-size: 2rem;
        font-weight: bold;
        cursor: text;
        i {
          margin-left: 2rem;
          &:hover {
            cursor: pointer;
            color: #187caa;
            font-size: 1.8rem;
          }
        }
        &:hover {
          position: sticky;
          top: 0;
          color: black;
        }
      }
      &:last-child {
        display: flex;
        justify-content: space-evenly;
        i {
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 600;
          &:hover {
            color: #187caa;
          }
        }
        &:hover {
          color: black;
        }
      }
    }
  }
}

.spread-vertical {
  border-right: 0.1rem solid rgb(99, 98, 98);
}

.r-menuRight {
  display: flex;
  flex-direction: column;

  .r-menuRight-btn {
    border-radius: 2rem;
    margin-top: 1rem;
    display: inline-block;
    background: #a30a0f;
    i {
      margin-right: 1rem;
    }
    padding: 1rem 2rem;
  }
}

.r-menuContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  border-bottom: 0.2px solid #6e7275;
  i {
    cursor: pointer;
    font-size: 1.6rem;
    margin-left: 2rem;
    &:hover {
      color: #187caa;
    }
  }
}

.r-menuItem {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .r-menuItem-price {
    font-size: 1.8rem;
    color: #2186c4;
    font-weight: 600;
  }
  img {
    width: 60px;
    object-fit: contain;
    margin-right: 2rem;
  }
  span {
    font-size: 1.8rem;
    font-weight: bold;
  }
  input {
    max-width: 120px;
  }
}

.r-menuItem-editMode {
  align-items: center;
  display: flex;
  div {
    display: flex;
    flex-direction: column;
    img {
      position: relative;
    }
    i {
      position: absolute;
      bottom: 1rem;
      left: 2rem;
      z-index: 10;
      color: white;
    }
  }
}

.submenu {
  width: 100%;
  display: flex;
  justify-content: center;
  span {
    display: block;
    margin-right: 5rem;
  }
  i {
    margin-right: 2rem;
  }
}

.r-menuRight-btn-header {
  display: flex;
  justify-content: flex-end;
  color: red;
  i {
    margin-top: 1.5rem;
    cursor: pointer;
    font-size: 2rem;
    margin-right: 2rem;
  }
}

.r-menu-add-item {
  img {
    width: 50px;
    height: 50px;
  }
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  span {
    i {
      font-weight: bold;
      font-size: 1.8rem;
      margin-right: 2rem;
    }
  }
}

.oder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oi-container {
  width: 50%;
}

.oi-containerx {
  margin-bottom: 2rem;
}

.oi-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  font-weight: bold;
  font-size: 1.8rem;
  border: 2px solid greenyellow;
  padding: 1rem 0;
  i {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 2rem;
    font-weight: bold;
    &:hover {
      font-size: 2.5rem;
    }
  }
}

.oi-title-header {
  display: flex;
  justify-content: space-between;
}

.oi-list-oder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 2px solid black;
  color: black;
}

.oi-list-item {
  min-width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  border: 1px solid #a2a4a5;
  border-left: none;
  border-right: none;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  img {
    width: 50px;
  }
  .ol-list-item-price {
    align-items: flex-end;
  }
}
.oi-qtn {
  display: block;
  color: black;
  margin-left: 1.5rem;
  font-weight: bold;
}

.u-oder-header {
  display: flex;
  flex-direction: column;
}

.restaurantFind {
  display: flex;
  align-content: center;
  width: 60%;
  outline: none;
  flex-direction: column;
  position: relative;
  ul {
    top: 120%;
    left: 0;
    position: absolute;
    flex-direction: column;
    background-color: white;
    border: 1px solid #9d9fa1;
    width: 100%;
    padding: 1rem 0.5rem;
    li {
      cursor: pointer;
    }
  }
  input {
    width: 100%;
    border: none;
  }
}

.user-selectRestaurant {
  display: flex;
  padding: 9px 21px;
  align-items: center;
}
.selectTag {
  display: flex;
  padding: 2.5px 25px;
  border-radius: 5px;
  border: 1px solid black;
  align-items: center;
  justify-content: space-between;
  span {
    margin-right: 2rem;
  }
}

// .modal-center {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.rs-modal {
  height: 100vh;
  width: 60%;
}
.rs-modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center !important;
  height: 80%;
}
.rs-modal-content {
  width: 90%;
}
.co-title {
  display: block;
  font-size: 1.6rem;
  color: black;
  font-weight: 600;
  margin-bottom: 1rem;
}

.co-foodter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .co-btn {
    margin-left: 3rem;
    font-weight: 600;
    font-size: 1.6rem;
    color: white;
    background-color: #a30a0f;
    padding: 1rem 2rem;
  }
  .co-price {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-size: 1.6rem;
    .co-price-title {
      font-size: 1.4rem;
      font-weight: 400;
    }
    .co-totalPrice {
      font-size: 1.8rem;
      font-weight: 600;
      color: #a30a0f;
    }
  }
}

.userAddress-list {
  display: flex;
  flex-direction: column;

  .userAddress-item {
    padding: 1rem 2rem;
    margin: 0.2rem 0;
    i {
      margin-right: 3rem;
      font-size: 1.6rem;
      color: black;
    }
    border: 1px dotted #41484f;
  }
}
.itemActive {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

.oder-item-text {
  align-items: center;
  display: flex;
  color: black;
  flex-direction: column;
  align-items: flex-end;
}

.btn-disable {
  cursor: text;
  background-color: #6e7275;
  &:hover {
    background: #6e7275;
  }
}

.user-oder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.u-oderContainer {
  margin-top: 5.6rem;
  padding: 2rem;
  width: 80%;
}

.u-oderHeader {
  width: 100%;
  background: white;
  cursor: pointer;
  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100%;
    margin: 0;
    li {
      padding: 1rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      &.active {
        color: black;
        border-bottom: 0.2rem solid #2c3136;
        font-weight: bold;
        font-size: 1.6rem;
      }
    }
  }
}

.u-oder-container {
  margin-bottom: 3rem;
  padding: 2.5rem 2rem;
  background: white;
}

.u-oderLeft {
  font-size: 1.6rem;
  color: black;
  font-weight: bold;
  padding-bottom: 1rem;
  border-bottom: 1px solid #6e7275;
}

.u-oderRight {
  padding: 1rem 0;
}

.u-listOder-footer-total {
  color: black;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  .ul-total-price {
    font-size: 2.5rem;
    color: #2c3136;
  }
}

.u-listOder-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.6rem;
  .btn-listOder {
    display: inline-block;
    color: white;
    background-color: #2c3136;
    padding: 1rem 2rem;
    margin-left: 2rem;
    border: 1px solid #2c3136;

    &:hover {
      color: #2c3136;
      background-color: white;
    }
  }
}

// moblie

.m-nav-header {
  width: 100%;
  display: block;
  padding: 0 2rem;
  z-index: 1000;
  .m-logo {
    font-size: 4rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}

.getFixed {
  position: fixed;
  z-index: 1000;
  background-color: #2c3136;
  width: 100%;
}

.m-nav-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  i {
    font-size: 1.8rem;
  }
  img {
    border-radius: 50px;
    margin-left: 2rem;
    height: 30px;
    width: 30px;
    object-fit: cover;
  }
}

.m-nav-header-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(10px, 35px);
  text-align: center;
  a {
    color: white;
  }
  i {
    font-size: 1.6rem;
  }
}

.settingMenu {
  display: flex;
  padding: 1rem 1rem;
  align-items: center;
  i {
    padding: 0.5rem;
    font-size: 1.8rem;
    font-weight: 200;
    &.active {
      background-color: red;
      color: #363c42;
    }
  }
  .settingMenu-left {
    flex: 1;
  }
  .settingMenu-right {
    min-width: 30%;
    display: flex;
    justify-content: space-between;
  }
}

.m-fd-grid {
  background: transparent;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 180px));
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 1rem 2rem;
  &.m-fd-flex {
    padding: 0;
  }
  &.m-fd-flex {
    row-gap: 0rem;
  }
}

.m-fd-dishContainer {
  background: white;
  border-radius: 5px;
}

.rs-panel-body {
  padding: 0 !important;
}
.m-fd-dishContainer {
  display: flex;
  flex-direction: column;

  .m-fd-dishTitle {
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
  }
  .m-fd-dishOderQtn {
    i {
      font-size: 1.4rem;
      margin-right: 1rem;
    }
  }
  .m-fd-dishfooter {
    display: flex;
    justify-content: space-between;
  }
  .m-fd-qtn {
    align-items: center;
    min-width: 40%;
    display: flex;
    justify-content: space-between;
    i {
      font-size: 1.8rem;
      color: #187caa;
    }
  }
  img {
    width: 150px;
  }
}

.m-fd-flex {
  display: flex;
  flex-direction: column;
}

.m-fd-disContainer-list {
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.1rem solid #2c3136;
  border-radius: 0;
  img {
    width: 60px;
  }
  .m-fd-info {
    display: flex;
    flex-direction: column;
    min-width: 40%;
    padding-left: 1rem;
    .m-fd-dishTitle {
      width: 90%;
      display: block;
    }
  }
  .m-fd-dishfooter {
    flex: 1;
    .m-fd-qtn {
      width: 100%;
      i {
        font-size: 3rem;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  html {
    overflow-x: hidden;
  }
  .rs-hidden-sm {
    display: none !important;
  }
  .rs-col {
    padding: 0 !important;
  }
  .body {
    overflow-x: hidden;
  }
  .fd-menu {
    width: 100%;
  }
  .container {
    margin-top: 92px;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
  }
  .food-list {
    padding-top: 1rem;
    grid-template-columns: 1fr;
  }
  .order-container {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  .u-oderContainer {
    padding: 0;
    width: 100%;
    margin-top: 1rem;
  }
  .u-oder-container {
    width: 100%;
  }
}

.m-setting {
  background: white;
  padding: 0 1rem;
}

.m-setting-tittle {
  display: block;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.rs-panel-bordered {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #6e7275;
  font-size: 1.4rem;
}
.rs-panel-body {
  color: black;
}

.m-user-info {
  display: flex;
  color: black;
  font-weight: 600;
  align-items: center;
  font-size: 1.6rem;
  i {
    font-size: 1.8rem;
  }
  .m-usernameDisplay,
  input {
    width: 60%;
    margin-right: 5rem;
  }
  img {
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 2rem;
  }
}

.loader {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #272829b9;
}

.rs-loader-content {
  color: white;
  font-size: 2rem;
}

.m-setting-addrss {
  display: flex;
  justify-content: space-between;
  align-items: center;
  input {
    flex: 1;
    margin-right: 3rem;
  }
  i {
    font-size: 3rem;
  }
}
